/* Button.css */
.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.btn-button {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 30px;
}

.btn-link {
    background-color: transparent;
    color: var(--black);
    text-decoration: underline;
}

.btn:hover {
    opacity: 0.8;
}